<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myapp.claims">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_dynamic_form"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_dynamic_form"
        android:supportsRtl="true"
        android:name="myapp.claims.MyApplication"
        android:theme="@style/Theme.Claims">
        <activity
            android:name="myapp.claims.SplashScreenActivity"
            android:theme="@style/customsplashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="myapp.claims.ClaimsActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="myapp.claims.MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>